.about {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__container {
    height: 90vh;
    padding-top: 200px;
  }
  &__paragraph-div {
    width: 1000px;
  }
  &__heading-div {
    padding-bottom: 36px;
  }
  &__heading {
    font-size: 56px;
    font-family: "Antonio";
  }
  &__paragraph {
    font-size: 1rem;
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    padding-top: 120px;
  }
  &__image {
    width: 400px;
  }
}
