.stocklist {
  height: 200vh;
  &__section {
    padding: 120px 0 120px 0;
  }
  &__wines-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__text-div {
    padding: 20px 0 20px 0;
  }
  &__heading {
    font-size: 3rem;
    font-family: Antonio;
    margin-bottom: 40px;
  }
  &__paragraph {
    font-size: 2rem;
    font-family: Antonio;
  }
  &__wine-img {
    height: 200px;
    width: 150px;
    background-image: url("../../assets/images/jocelyn-morales-pXyNqLpNqAU-unsplash.jpg");
    background-position: center;
    background-size: cover;
  }
  &__wine {
    border-radius: 20px;
    border-style: solid;
    border-color: blueviolet 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #4c40e0;
    padding: 40px 20px;
    width: 250px;
    margin: 20px;
  }
  &__wine-bio {
    padding: 10px 0;
    width: auto;
  }
  &__wine-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
