.profileModal {
  background-color: white;
  color: #13182c;
  display: flex;
  justify-content: center;
  width: 672px;
  height: 262px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 2;
  position: fixed;
  flex-wrap: wrap;
  &__heading-div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-family: Antonio;
  }
  &__inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  &__input {
    border-radius: 3px;
    color: #4c40e0;
  }
  &__btn {
    background-color: white;
    color: #4c40e0;
    border-radius: 3px;
    width: 80px;
    height: 30px;
    font: inherit;
    cursor: pointer;
    font-family: Antonio;
  }
}
